<perfect-scrollbar class="content" [ngClass]="{ disabled: isMapMoving }" [config]="isMapMoving ? { handlers: [] } : {}">
  <section *ngIf="story" class="story">
    <div class="head" [style]="'background-image: url(/assets/stories/' + story.coverImage + ');'">
      <div class="head-actions">
        <button mat-stroked-button (click)="closeStory()"><mat-icon>public</mat-icon>{{ 'GO_MAP' | translate }}</button>
      </div>
      <div class="info">
        <h2>"{{ story.pageTitle }}"</h2>
        <h6>{{ story.description }}</h6>
      </div>
    </div>

    <article *ngFor="let article of story.articles">
      <div class="article-info">
        <h4>{{ article.title }}</h4>
        <h5>{{ article.shortDescription }}</h5>
      </div>

      <div class="article-head">
        <div class="image" [style]="'background-image: url(/assets/stories/' + article.image + ');'"></div>
        <div class="map">
          <button mat-button color="primary" (click)="goToTheMap(article.coords)">
            {{ 'SHOW_ON_MAP' | translate }}
          </button>

          <div class="static-map">
            <div class="marker"></div>
            <div class="map-image" [style]="'background-image: url(' + getStaticMapUrl(article) + ');'"></div>
          </div>
        </div>
      </div>

      <div class="article-content" [innerHTML]="article.body"></div>
    </article>
  </section>
</perfect-scrollbar>
