@import '../../../common';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.detail-panel-container {
  background: transparent;
  height: 100%;

  ::ng-deep .mat-drawer-backdrop,
  ::ng-deep .mat-drawer-content {
    display: none;
  }

  ::ng-deep .mat-drawer-inner-container {
    box-shadow: inset 0 6px 7px -10px #000;
    -webkit-box-shadow: inset 0 6px 7px -10px #000;
    -moz-box-shadow: inset 0 6px 7px -10px #000;
    -o-box-shadow: inset 0 6px 7px -10px #000;

    overflow: hidden;
  }

  .detail-panel {
    width: 100%;

    padding-top: 65px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;

    border: none;
    background: rgba(white, 0.95);

    .item-container {
      position: relative;
    }

    .close-button {
      position: absolute;
      z-index: $maxZIndex + 1;
      top: 17px;
      right: 17px;
    }
  }
}
