@import '../../../common';

:host {
  position: absolute;
  z-index: $detailPanelZIndex;
  top: 0;
  left: 0;
  overflow-x: visible;
  width: 100%;
  height: 100%;

  @include mat-elevation(3, black, 0.4);
}
