<perfect-scrollbar>
  <h4>Privacy policy</h4>
  <p>This is the Cookie Policy for WeClimb.it, accessible from https://www.weclimb.it</p>
  <p><strong>What Are Cookies</strong></p>
  <p>
    As is common practice with almost all professional websites this site uses cookies, which are tiny files that are
    downloaded to your computer, to improve your experience. This page describes what information they gather, how we
    use it and why we sometimes need to store these cookies. We will also share how you can prevent these cookies from
    being stored however this may downgrade or 'break' certain elements of the sites functionality.
  </p>
  <p><strong>How We Use Cookies</strong></p>
  <p>
    We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry standard
    options for disabling cookies without completely disabling the functionality and features they add to this site. It
    is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used
    to provide a service that you use.
  </p>
  <p><strong>Disabling Cookies</strong></p>
  <p>
    You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to
    do this). Be aware that disabling cookies will affect the functionality of this and many other websites that you
    visit. Disabling cookies will usually result in also disabling certain functionality and features of the this site.
    Therefore it is recommended that you do not disable cookies. This Cookies Policy was created with the help of the
    <a href="https://www.cookiepolicygenerator.com/cookie-policy-generator/"
      >Cookies Policy Generator from CookiePolicyGenerator.com</a
    >.
  </p>
  <p><strong>The Cookies We Set</strong></p>
  <ul>
    <li>
      <p>Account related cookies</p>
      <p>
        If you create an account with us then we will use cookies for the management of the signup process and general
        administration. These cookies will usually be deleted when you log out however in some cases they may remain
        afterwards to remember your site preferences when logged out.
      </p>
    </li>
    <li>
      <p>Login related cookies</p>
      <p>
        We use cookies when you are logged in so that we can remember this fact. This prevents you from having to log in
        every single time you visit a new page. These cookies are typically removed or cleared when you log out to
        ensure that you can only access restricted features and areas when logged in.
      </p>
    </li>
    <li>
      <p>Site preferences cookies</p>
      <p>
        In order to provide you with a great experience on this site we provide the functionality to set your
        preferences for how this site runs when you use it. In order to remember your preferences we need to set cookies
        so that this information can be called whenever you interact with a page is affected by your preferences.
      </p>
    </li>
  </ul>
  <p><strong>Third Party Cookies</strong></p>
  <p>
    In some special cases we also use cookies provided by trusted third parties. The following section details which
    third party cookies you might encounter through this site.
  </p>
  <ul>
    <li>
      <p>
        This site uses Google Analytics which is one of the most widespread and trusted analytics solution on the web
        for helping us to understand how you use the site and ways that we can improve your experience. These cookies
        may track things such as how long you spend on the site and the pages that you visit so we can continue to
        produce engaging content.
      </p>
      <p>For more information on Google Analytics cookies, see the official Google Analytics page.</p>
    </li>
    <li>
      <p>
        From time to time we test new features and make subtle changes to the way that the site is delivered. When we
        are still testing new features these cookies may be used to ensure that you receive a consistent experience
        whilst on the site whilst ensuring we understand which optimisations our users appreciate the most.
      </p>
    </li>
    <li>
      <p>
        The Google AdSense service we use to serve advertising uses a DoubleClick cookie to serve more relevant ads
        across the web and limit the number of times that a given ad is shown to you.
      </p>
      <p>For more information on Google AdSense see the official Google AdSense privacy FAQ.</p>
    </li>
    <li>
      <p>
        We also use social media buttons and/or plugins on this site that allow you to connect with your social network
        in various ways. For these to work the following social media sites including; Facebook, Google, will set
        cookies through our site which may be used to enhance your profile on their site or contribute to the data they
        hold for various purposes outlined in their respective privacy policies.
      </p>
    </li>
  </ul>
  <p><strong>More Information</strong></p>
  <p>
    Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren't
    sure whether you need or not it's usually safer to leave cookies enabled in case it does interact with one of the
    features you use on our site.
  </p>
  <p>
    For more general information on cookies, please read
    <a href="https://www.generateprivacypolicy.com/#cookies">"Cookies" article from the Privacy Policy Generator</a>.
  </p>
  <p>
    However if you are still looking for more information then you can contact us through one of our preferred contact
    methods:
  </p>
  <ul>
    <li>Email: info@weclimb.it</li>
  </ul>
  <h4>User data removal</h4>
  <p><strong>1. Introduction</strong></p>
  <p>
    1.1 This policy sets out the policies and procedures of WeClimb.it (the "company") with respect to the retention,
    archiving and deletion of data, whether in hard copy or digital form, and including personal data.
  </p>
  <p>
    1.2 The company is subject to a range of statutory obligations in relation to the retention of data. On the one
    hand, the company is obliged to retain some classes of data for a minimum period. On the other hand, it is a
    fundamental principle of data protection law that personal data should be only retained for so long as required.
    Moreover, the retention of some classes of data may represent an unnecessary security risk. For these reasons, the
    company recognises the importance of formulating clear and specific policies in relation to data retention.
  </p>
  <p><strong>2. Definitions</strong></p>
  <p>2.1 In this policy:</p>
  <p>
    (a) "appointed person" means the individual primarily responsible for handling data retention, archiving and
    deletion by the company, being the data protection officer of the company;
  </p>
  <p>
    (b) "data controller" means the natural or legal person, public authority, agency or other body which, alone or
    jointly with others, determines the purposes and means of the processing of personal data;
  </p>
  <p>
    (c) "data processor" means a natural or legal person, public authority, agency or other body which processes
    personal data on behalf of the controller;
  </p>
  <p>
    (d) "data subject" means an identified or identifiable natural person; an identifiable natural person is one who can
    be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification
    number, location data, an online identifier or to one or more factors specific to the physical, physiological,
    genetic, mental, economic, cultural or social identity of that natural person;
  </p>
  <p>
    (e) "deletion" means the permanent and irreversible deletion of data from all relevant databases and storage media
    in the possession or control of the company including, where necessary to ensure the deletion of the data, the
    destruction of the relevant storage media; and
  </p>
  <p>(f) "personal data" means any information relating to a data subject.</p>
  <p><strong>3. Data retention, archiving and deletion</strong></p>
  <p>
    3.1 The company must archive and delete data in its possession and/or control in accordance with schedule 1 (Data
    retention periods), save as set out in this section 3.
  </p>
  <p>
    3.2 Notwithstanding the archiving rules set out in this policy, the company may retain non-archived copies of data
    to the extent that the data is reasonably required in non-archived form for:
  </p>
  <p>(a) the fulfillment of any legal or contractual obligations of the company; and/or</p>
  <p>(b) the establishment, exercise or defence of any legal claims.</p>
  <p>3.3 The company must not delete data to the extent that:</p>
  <p>(a) the company has a legal obligation to retain the data;</p>
  <p>
    (b) the company has a contractual obligation to retain the data (providing that such contractual obligation is not
    overridden by any legal obligation to delete the data); and/or
  </p>
  <p>
    (c) the retention of the data is reasonably required for the establishment, exercise or defence of any legal claims
    (providing that such requirement is not overridden by any legal obligation to delete the data).
  </p>
  <p><strong>4. Default archiving and deletion methods</strong></p>
  <p>
    4.1 Data must be archived by the company specify methods, save to the extent that specific archiving methods are
    provided for in schedule 1 (Data retention periods).
  </p>
  <p>
    4.2 Data must be deleted by the company specify methods, save to the extent that specific deletion methods are
    provided for in schedule 1 (Data retention periods).
  </p>
  <p><strong>5. Reviewing and updating this policy</strong></p>
  <p>5.1 The appointed person shall be responsible for reviewing and updating this policy.</p>
  <p>5.2 This policy must be reviewed and, if appropriate, updated annually on or around 1 July.</p>
  <p>5.3 This policy must also be reviewed and updated on an ad hoc basis if reasonably necessary to ensure:</p>
  <p>(a) the compliance of the company with applicable law, codes of conduct or industry best practice;</p>
  <p>(b) the security of data stored and processed by the company; or</p>
  <p>(c) the protection of the reputation of the company.</p>
  <p>5.4 The following matters must be considered as part of each review of this policy:</p>
  <p>(a) changes to the legal and regulatory environment;</p>
  <p>(b) changes to any codes of conduct to which the company subscribes;</p>
  <p>(c) developments in industry best practice;</p>
  <p>(d) any new data collected by the company;</p>
  <p>(e) any new data processing activities undertaken by the company; and</p>
  <p>(f) any security incidents affecting the company.</p>
  <h4><strong>SCHEDULE 1 (DATA RETENTION PERIODS)</strong></h4>
  <p><strong>1. Introduction</strong></p>
  <p>
    1.1 This schedule 1 sets out the methods to be used by the company when archiving and deleting data and the periods
    during which data must be archived and deleted by the company.
  </p>
  <p>
    1.2 If a data record falls under more than one section of this schedule 1, then the earlier section shall take
    precedence over the later section, unless the record constitutes a duplicate copy of data that is separately
    governed by the earlier section.
  </p>
  <p><strong>2. Customer data: retention, archiving and deletion</strong></p>
  <p>
    2.1 In this policy, "customer data" means all customer relationship management records relating to the customers of
    the company, including customer identity details, customer identity evidence and customer contact details.
  </p>
  <p>
    2.2 Customer data is stored by the company in the following databases: for each geographical data centre where
    WeClimb.it application data is stored, Customer data will be stored in SQL-based database management systems,
    configured in a high-availability pattern..
  </p>
  <p>2.3 Customer data must be archived daily.</p>
  <p>2.4 Customer data must be deleted:</p>
  <p>(a) not less than 8 years following the archiving of the data; and</p>
  <p>(b) not more than 9 years following that event, subject to subsection 3.3 of the main body of this policy.</p>
  <p>2.5 Customer data must be deleted by deleting the backups from the storage medium.</p>
</perfect-scrollbar>
