<div
  class="main"
  [ngClass]="{
    'has-content': showContent && !isFloatingContent,
    'has-side-content': showContent && isFloatingContent
  }"
  fxLayout="row"
>
  <div class="actions">
    <button *ngIf="showContent && isFloatingContent" color="primary" mat-mini-fab (click)="closeSection()">
      <mat-icon>close</mat-icon>
    </button>
    <button color="primary" mat-mini-fab [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <button color="primary" mat-mini-fab [matMenuTriggerFor]="historyPanel" [disabled]="historyItems?.length === 0">
      <mat-icon
        [matBadge]="historyItems?.length ? (historyItems.length > 9 ? '9+' : historyItems.length) : undefined"
        matBadgeColor="warn"
        >history</mat-icon
      >
    </button>

    <button class="user-preferences" color="primary" mat-mini-fab [matMenuTriggerFor]="userPreferencesMenu">
      <div
        *ngIf="userProfilePictureUrl"
        class="picture"
        [style]="'background-image: url(' + userProfilePictureUrl + ');'"
      ></div>
      <ng-container *ngIf="!userProfilePictureUrl"><mat-icon>manage_accounts</mat-icon></ng-container>
    </button>

    <!-- The menu panel -->
    <mat-menu #menu="matMenu" class="menu custom-menu">
      <button mat-menu-item (click)="onSectionSelected('crags')">{{ 'CRAGS' | translate }}</button>
      <button mat-menu-item (click)="onSectionSelected('hikes')">{{ 'HIKES' | translate }}</button>
      <button mat-menu-item (click)="onSectionSelected('shelters')">{{ 'SHELTERS' | translate }}</button>
      <button mat-menu-item (click)="onSectionSelected('places')">{{ 'PLACES' | translate }}</button>
      <button mat-menu-item (click)="onSectionSelected('competitions')">{{ 'COMPETITIONS' | translate }}</button>
      <button mat-menu-item (click)="onSectionSelected('news')">{{ 'NEWS' | translate }}</button>
      <div class="separator"></div>
      <button mat-menu-item (click)="onExternalLinkSelected('https://github.com/WeClimb-it')">
        {{ 'GITHUB' | translate }}
      </button>
      <button mat-menu-item (click)="onExternalLinkSelected('https://github.com/WeClimb-it/weclimb.it/issues')">
        {{ 'GITHUB_ISSUES' | translate }}
      </button>
      <div class="separator"></div>
      <button mat-menu-item (click)="onExternalLinkSelected('https://www.iubenda.com/privacy-policy/42375803')">
        Privacy
      </button>
      <script type="text/javascript">
        (function (w, d) {
          var loader = function () {
            var s = d.createElement('script'),
              tag = d.getElementsByTagName('script')[0];
            s.src = 'https://cdn.iubenda.com/iubenda.js';
            tag.parentNode.insertBefore(s, tag);
          };
          if (w.addEventListener) {
            w.addEventListener('load', loader, false);
          } else if (w.attachEvent) {
            w.attachEvent('onload', loader);
          } else {
            w.onload = loader;
          }
        })(window, document);
      </script>
      <div class="separator"></div>
      <div class="copyleft">(ɔ) - {{ year }} WeClimb.it</div>
    </mat-menu>

    <!-- The history panel -->
    <mat-menu #historyPanel="matMenu" class="history-panel custom-menu">
      <perfect-scrollbar>
        <div mat-menu-item *ngFor="let item of historyItems" (click)="onPoiSelected(item)">
          <div class="static-map"><img [src]="geoService.getStaticMapUrl(item.coords, 50, 50, 12)" /></div>
          <div class="title">
            {{ item.title || item.name }}
            <div class="coords">{{ item.coords?.lat || 0 }}, {{ item.coords?.lng || 0 }}</div>
          </div>
        </div>
        <a class="delete" href="" (click)="onClearHistory(); $event.preventDefault()">{{
          'DELETE_HISTORY' | translate
        }}</a>
      </perfect-scrollbar>
    </mat-menu>

    <!-- The user preferences panel -->
    <mat-menu #userPreferencesMenu="matMenu" class="user-preferences-menu custom-menu">
      <div>
        <wci-user-login (userLoggedIn)="onUserLoggedIn($event)" (userLoggedOut)="onUserLoggedOut()"></wci-user-login>
      </div>

      <div class="preferences-container">
        <h5><mat-icon>near_me</mat-icon> {{ 'USER_MAP_PREFERENCES' | translate }}</h5>
        <div class="preferences-list" *ngIf="userLocation">
          <div class="preferences-list-item">
            <h6><mat-icon>my_location</mat-icon> {{ 'LOCATION_ACCURACY' | translate }}</h6>
            <a (click)="onEnableGeolocation()">
              <ng-container [ngSwitch]="hasActivatedBrowserGeolocation">
                <ng-container *ngSwitchCase="false">{{ 'ENABLE_GEOLOCATION' | translate }}</ng-container>
                <ng-container *ngSwitchDefault>{{ 'USE_GEOLOCATION' | translate }}</ng-container>
              </ng-container>
            </a>
          </div>
        </div>
      </div>
      <div class="preferences-container">
        <h5><mat-icon>straighten</mat-icon> {{ 'UNIT_MEASURES_PREFERENCES' | translate }}</h5>
        <div class="preferences-list">
          <div class="preferences-list-item">
            <mat-slide-toggle
              color="primary"
              [(ngModel)]="useMetricSystem"
              (click)="$event.stopImmediatePropagation()"
              (toggleChange)="onUnitMeasureChanged()"
              ><span [ngClass]="{ bold: !useMetricSystem }">{{ 'IMPERIAL_UNIT_MEASURE' | translate }}</span> /
              <span [ngClass]="{ bold: useMetricSystem }">{{
                'METRIC_UNIT_MEASURE' | translate
              }}</span></mat-slide-toggle
            >
          </div>
        </div>
      </div>
      <div class="preferences-container">
        <h5><mat-icon>language</mat-icon> {{ 'LANGUAGE_PREFERENCES' | translate }}</h5>
        <div class="preferences-list">
          <div class="preferences-list-item">
            <mat-chip-list>
              <mat-chip
                *ngFor="let language of environment.i18n.availableLangsLabels; let i = index"
                (click)="onLanguageSelected(i)"
                >{{ language }}</mat-chip
              >
            </mat-chip-list>
          </div>
        </div>
      </div>
    </mat-menu>
  </div>

  <!-- The header -->
  <div class="header-container">
    <!-- (queryChanged)="onSearchQueryChanged($event)" -->
    <wci-header
      class="header"
      (search)="onSearch($event)"
      (suggestionSelected)="onSuggestionSelected($event)"
      (optionsUpdated)="onOptionsUpdated($event)"
    ></wci-header>
  </div>

  <!-- The map -->
  <div class="map">
    <wci-map
      #mapInstance
      *ngIf="currentLocation && userLocation"
      [zoom]="zoom"
      [centerLocation]="currentLocation"
      [userLocation]="userLocation"
      [userOrientation]="currentOrientation"
      [pois]="nearbyPois"
      [osmPois]="nearbyOsmPois"
      [googlePlacesPois]="nearbyGooglePlacesPois"
      [loadingWciData]="isNearbyLoading"
      [loadingOsmData]="isOsmNearbyLoading"
      [loadingGooglePlacesData]="isGooglePlacesNearbyLoading"
      (ready)="onMapReady($event)"
      (update)="onMapUpdate($event)"
      (centerMapToUserLocation)="onEnableGeolocation()"
    ></wci-map>
  </div>

  <!-- The sidenav -->
  <div class="sidenav" fxShow="false" fxShow.gt-sm>
    <wci-sidebar
      [loading]="isNearbyLoading"
      [currentLocation]="currentLocation"
      [pois]="nearbyPois"
      [useMetricSystem]="useMetricSystem"
      [externalPlaces]="nearbyGooglePlacesPois"
      (sectionSelected)="onSectionSelected($event)"
      (poiSelected)="onPoiSelected($event)"
    ></wci-sidebar>
  </div>

  <!-- The content container -->
  <div class="content" *ngIf="showContent && !isFloatingContent">
    <div class="section" [ngClass]="{ article: isArticle }">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- The floating content container -->
<ng-container *ngIf="showContent && isFloatingContent">
  <router-outlet></router-outlet>
</ng-container>
